.heading {
    position: relative;
    margin-top: 25px;
    font-family: 'Fuzzy Bubbles', cursive;
    text-align: center;
    font-size: 50px;
    color: black;
}

.game {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    top: 30px;
    border: hidden;
    width: 210px;
    height: 210px;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;
    cursor: pointer;
}

.boxtext {
    position: relative;
    text-align: center;
    color: black;
    text-transform: uppercase;
    font-size: 300%;
    left: 18px;
}

.box:hover {
    background-color: #9b2525;
    justify-content: center;
}

.first {
    border: 3px black solid;
    border-top: hidden;
    border-left: hidden;
}

.second {
    border: 3px black solid;
    border-top: hidden;
}

.three {
    border: 3px black solid;
    border-top: hidden;
    border-right: hidden;
}

.four {
    border: 3px black solid;
    border-left: hidden;
}

.five {
    border: 3px black solid;
}

.six {
    border: 3px black solid;
    border-right: hidden;
}

.seven {
    border: 3px black solid;
    border-left: hidden;
    border-bottom: hidden;
}

.eight {
    border: 3px black solid;
    border-bottom: hidden;
}

.nine {
    border: 3px black solid;
    border-bottom: hidden;
    border-right: hidden;
}

p {
    position: relative;
    margin-top: 70px;
    text-align: center;
    color: black;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 150%;
}

.reset {
    position: relative;
    margin-top: 100px;
    margin-left: 46%;
    background-color: black;
    border: hidden;
    color: white;
}


